body {
	background-color: white;
	font-family: 'Open Sans', serif;
	font-weight: 400;
	line-height: 1.45;
	color: #333;
	margin:0;
	background: url("/images/curtains.jpg");
	background-attachment: fixed;
}

html,body{
	height:100%;
}

* {
	box-sizing: border-box;
}

.container {
	/*max-width: 1000px;*/
	max-width: 860px;
	margin: 0 auto;
	overflow: hidden;
}

.contentBack {
    max-width: 1250px;
    margin: 0 auto;
    background: white;
}

h1 {
	text-align: center;
	font-weight: 500;
	font-family: "Georgia";
}
h2{
    text-align:center;
}

p{
    margin: 15px auto;
    font-family: georgia;
    padding: 0 10px;
}

.main-content .container {
	margin: 0 auto;
	padding: 0 25px;
	max-width: 760px;
}

.homeDate{
	font-family:Georgia;
	margin: .5px;
	font-size: 1.75em;
}

.homeDateContainer{
        margin-top: 25px;
}

.banner {
	max-width: 100%;
    height: auto;
    margin: 25px auto;
    display: block;
}

.site-title {
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	display: block;
	font-family: 'Cinzel Decorative', cursive;
	color:black;
	color:white;
}

.menuButton {
	height: 35px;
	line-height:35px;
    font-size:20px;
	background: lightgray;
	text-align: center;
	display:none;
}

.navbar {
	margin: 25px auto;
	clear: both;
	max-width: 780px;
	overflow: hidden;
	border-radius: 4px;
	font-size: 0;
}

.header-nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-nav li {
	display: inline-block;
	width: 19%;
    /*width: 15.5%;*/
	text-align: center;
	margin: .5%;
	background: rgb(216, 56, 56);
	box-shadow: inset 0 0 24px 8px rgba(255, 255, 255, 0.09);
}

.header-nav li a {
	text-decoration: none;
	color: #FAFAFA;
	padding: 4px;
	display: block;
	font-size: 16px;
	white-space: nowrap;
	transition: .4s;
}

.nav-link:hover {
	background: rgba(255,255,255,0.25);
}
header{
	background: rgb(193, 28, 28);
}
footer {
	background: rgb(216, 56, 56);
	background: rgb(193, 28, 28);
	color: #FAFAFA;
	text-align: center;
}
.rainDate{
	font-size:12px;
	text-align: center;
    visibility: hidden;
}

/*Social Media Buttons*/

.donateButton {
	display: inline-block;
    background: white;
    border-radius: 4px;
    width: 82px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    color: rgb(216, 56, 56);
}

.donateButton:hover span {
    display:none;
}

.donateButton:hover:before {
    content: "❤";
    font-size: 20px;
}

.contactButton:hover {
	box-shadow: rgb(139, 139, 139) 0px 0px 55px inset;
}

.homeDonate{
	margin: 10px auto;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    width: 140px;
    background: red;
    border-radius: 5px;
    color: white;
    text-align: center;
    transition: .2s;
    font-weight: 600;
    font-size:1.1em;
}

.homeDonate:hover span {
    display:none;
}

.homeDonate:hover:before {
    content: "❤";
    font-size: 20px;
}

.homeDonateText{
	color: white;
    font-family: "Open Sans";
    font-size: 17px;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    padding: 0;
    line-height: 35px;
}

.homeDonate:hover {
    background: #F93B3B;
}

.socialMediaContainer{
    height: Auto;
    overflow: hidden;
    margin: 0 auto;
    max-width:100%;
    text-align:center;
}

.fbEvent {
    display: inline-block;
    background: #3b579d;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    margin: 4px 7.5px;
}

.fbEventText {
    margin: 0;
    color: white;
    float: left;
    font-family: "Open Sans";
    font-size: 17px;
    padding: 7px;
    margin-left: 34px;
}

.fbEventLogo {
    width: 30px;
    height: 30px;
    margin: 5px;
    float: right;
}

.fbEvent:hover {
    background: #4E71C7;
}

.twitterEvent {
    display: inline-block;
    background: #5ea9dd;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    margin: 4px 7.5px;
}

.twitterEventText {
    margin: 0;
    color: white;
    float: left;
    font-family: "Open Sans";
    font-size: 17px;
    padding: 7px;
    margin-left: 14px;
}

.twitterEventLogo {
    width: 30px;
    height: 30px;
    margin: 5px;
    float: right;
}

.twitterEvent:hover {
    background: #70C4FF;
}


.eventFlier {
    display: inline-block;
    background: red;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    margin: 4px 7.5px;

    display:none;
}

.eventFlierText {
    margin: 0;
    color: white;
    float: left;
    font-family: "Open Sans";
    font-size: 17px;
    padding: 7px;
    margin-left: 12px;
}

.eventFlierLogo {
    width: 28px;
    height: 30px;
    margin: 5px;
    margin-right:6px;
    float: right;
}

.eventFlier:hover {
    background: #F75555;
}


.comingSoon:hover {
    background: gray;
}

.comingSoon:hover:before {
    content: "Coming Soon";
}

.comingSoon:hover span {
    display:none;
}

/*Event Page*/

.campusMap {
    max-width: 95%;
    display: block;
    margin: 10px auto;
}

.googleMap{
    border: 0;
    display: block;
    max-width: 95%;
    margin: 15px auto;
}

/*Event Alt Page*/

.headBar {
    background: rgb(193, 28, 28);
    display: block;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    color: white;
    line-height: 40px;
    font-family: georgia;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 5px auto;
}

.eventBanner {
    display: block;
    max-width: 95%;
    /* max-height: 250px; */
    margin: 15px auto;
}

.contentDivider {
    background: rgb(193, 28, 28);
    display: block;
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
}

.nursingBanner{
	max-width: 75%;
}

.alumniBanner{
	max-width: 75%;
}

.govBanner{
	max-width: 60%;
}

.previousYear{
    background: rgb(247, 247, 247);
    display: block;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    color: white;
    line-height: 40px;
    font-family: georgia;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 10px auto;
}
.dullLink {
    text-decoration: none;
    color: black;
}
.dullLink:hover{
    color:#0000EE;
}

/*Contact Page*/
label{
	display:block;
    margin-top:20px;
    letter-spacing:1px;
    font-family: georgia;
}

form{
	max-width:100%;
    margin: 10px auto;
	width:450px;
}

input, textarea {
	max-width:100%;
	width:100%;
	height:32px;
	background: #F7F7F7;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
	border-radius:5px;
	font-family: "Open Sans";
}

textarea{
	height:220px;
}

#navigation-table{
	margin:0 auto;
}
.submitContact{
	height: 32px;
    line-height: 32px;
    padding: 0;
    width: 80px;
    font-family: georgia;
    margin: 0 auto;
    display: block;
    cursor:pointer;
}


/*About*/

.AHAHeart {
    max-width: 150px;
    margin: 0 auto;
    display: block;
}

.Headshot{
    max-width: 300px;
    max-height: 350px;
    margin: 0 auto;
    display: block;
}

/*Footer Positioning*/
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -91px;
}

.push {
    height: 91px;
}

footer, .push{
	height: 91px;
}


/*Audition Page*/
.radio {
    margin: 0;
    padding: 0;
    height: auto;
    width: Auto;
}

.formSuccess {
    width: 100%;
    height: 60px;
    background: #E8E8E8;
    border-radius: 5px;
    display:none;
}

.formSuccessText{
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
}
.centered{
    text-align:center;
}

.radioContainer {
    height: 32px;
    margin: 5px;
}

.radioB {
    width: initial;
    float: left;
    margin: 0px 5px;
}

.radioLabel {
    display: inline-block;
    margin-top: 0;
    line-height: 32px;
    float: left;
}

/*GALLERY TEST*/
.galleryTestCont{
    max-width:1000px !important;
}
.galleryContainer {
    background: #F1EDED;
    width: 1000px;
    max-width: 98%;
    height: auto;
    padding: 2px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
    border-radius: 4px;
}

.contentThumbContainer {
    background: #0089FF;
    height: 150px;
    width: 150px;
    display: inline-block;
    margin: 1px;
    border-radius: 4px;
    background: url(../images/TiffanyHeadshot.jpg), white;
    background-size: cover;
}

#gallery{
    text-align:center;
}


/*Media Queries*/

@media(max-width:487px){
	.main-content .container {
		padding: 0px 12px;
	}
}
@media(max-width: 685px){
	.menuButton{
		display:block;
	}
	.menuButton:hover{
		cursor:pointer;
	}
	.navbar{
		box-shadow: none;
		margin-top: 0;
		display:none;
		border-radius: 0;
	}
	.header-nav li{
		display:block;
		width:100%;
		border-bottom: 1px solid rgb(187, 187, 187);
		margin: 0;
		box-shadow: none;
        height: 35px;
        line-height: 35px;

	}
	body{
		background:white;
	}
	.header-nav li a{
		transition: none;
        padding:0;
	}
    .Headshot{
        max-height: 250px; //Limits size of photos for better viewing on mobile
    }
    .previousYear{
        font-size: 16px; //Decreases font size on mobile to prevent line break
    }
}
@media(min-width: 685px){
	.navbar{
		display:block;
	}
}
@media(min-width:685px){
	.site-title{
		font-size: 2.5em;
	}
}
/*@media(max-width:356px){
	.fbEvent, .twitterEvent{
		margin: 5px auto;
    	display: block;
    	float:none;
	}
}*/