---
title: Event Details
---

{% include head.html %}
{% include header.html %}
<div class="main-content">
	<div class="container">
		<p>Arts for Hearts will take place on Saturday, April 2nd, 2016 from 1:00-7:00 PM on the Johns Hopkins University Homewood Beach. Free admission! Food, beverages, and merchandise will be sold. 100% proceeds to the American Heart Association.</p>

		<p><b>Hosted by:</b> Hopkins Association for Stroke Awareness, JHU School of Nursing, JHU Listen Up Tap</p>

		<p><b>Sponsored by:</b> Hopkins Association for Stroke Awareness, JHU Homewood Arts Department, JHU Listen Up Tap, JHU Alumni Association, JHU Student Government Association, JHU Center for Social Concern</p>
		<img class="googleMap" src=""/>
		<img class="campusMap" src=""/>
		<p><b>Entertainment: </b>Performing Groups (coming soon)</p>

  </div>
</div>
{% include footer.html %}