---
title: Home
---

{% include head.html %}
{% include header.html %}
<div class="main-content">
	<div class="container">

		<h1 class="homeDate">Arts for Hearts</h1>
		<h1 class="homeDate">Saturday, April 2, 2016</h1>
		<h1 class="homeDate">1:00- 7:00 PM</h1>
		<img src="http://rramsland.github.io/ArtsForHearts/images/Banner.jpg" class="banner"></img>
		<div class="socialMediaContainer">
			<a class="fbEvent" href="https://www.facebook.com/events/1115380875152966/" target="_blank">
				<p class="fbEventText">RSVP</p>
				<img class="fbEventLogo" src="http://rramsland.github.io/ArtsForHearts/images/fbLogo.png">
			</a>
			<a class="twitterEvent" href="https://twitter.com/ArtsforHeartsJH" target="_blank">
				<p class="twitterEventText">Follow Us</p>
				<img class="twitterEventLogo" src="http://rramsland.github.io/ArtsForHearts/images/twitterLogo.png">
         	</a>
		</div>
      	<p>Arts for Hearts is the Johns Hopkins American Heart Association performing arts benefit showcase. This official annual event will take place on Saturday, April 2, 2016 from 1:00-7:00 PM. Free admission! There will be a huge outdoor stage on the Homewood Beach for Hopkins and Baltimore community dance and musical performances. There will be heart healthy catered buffet tables and merchandise sold at the event. 100% proceeds go to the American Heart Association.</p>
	   
  </div>
</div>
{% include footer.html %}