<footer role="contentinfo">
  <div class="container">
    <p>Arts For Hearts © 2016</p>
    <a href="https://www.kintera.org/faf/search/searchTeamPart.asp?ievent=1150562&lis=0&kntae1150562=B3BA44B418F44600B2FD38443BAC5D21&team=6648010" class="donateButton" target="_new"><span>Donate</span></a>
	</div>
</footer>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src='/js/script.js'></script>
    <script src='/js/jquery.photobox.js'></script>
    <script src='/js/gallery.js'></script>
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>/-->
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-72849548-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>