<header class="site-header cf" role="banner">
    <div class="container">
        <a class="site-title" href="#">Arts For Hearts</a>
        <div class="menuButton" alt="Menu Button">☰</div>
        
        <nav class="navbar" role="navigation">
            <ul class="header-nav">
                <li><a class="nav-link" href="{{ site.url}}/">Home</a></li>
                <li><a class="nav-link" href="{{ site.url}}/event/">Event Details</a></li>
                <li><a class="nav-link" href="{{ site.url}}/contact/">Contact</a></li>
                <li><a class="nav-link" href="{{ site.url}}/leases/">About</a></li>
                <li><a class="nav-link comingSoon" href="#"><span>Gallery</span></a></li>
            </ul>
        </nav>

    </div>
</header>
