<header class="site-header cf" role="banner">
    <div class="container">
        <a class="site-title" href="#">Arts For Hearts</a>
        <div class="menuButton" alt="Menu Button">☰</div>
        
        <nav class="navbar" role="navigation">
            <ul class="header-nav">
                <li><a class="nav-link" href="#">Home</a></li>
                <li><a class="nav-link" href="#">Event Details</a></li>
                <li><a class="nav-link" href="#">Contact</a></li>
                <li><a class="nav-link" href="#">About</a></li>
                <li><a class="nav-link" href="#">Gallery</a></li>
            </ul>
        </nav>

    </div>
</header>
